body{
  overflow-x: hidden;
  margin: 0;
}
*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 16px;
}

#container{
  display: flex;
}


#section-1{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px 1%;
  width: 18.5%;
  overflow-y: hidden;
  border-radius: 0px 20px 20px 0px;
  border-right:1px solid rgba(0, 0, 0, 0.288);
}

.section-1-first-div{
flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-1-first-div h3{
  font-size: 1.2rem;
  margin-bottom: 0;
  line-height:12.1px;
  font-weight:600px;
  color: #0E207A;
  margin-left: 0;
  font-family: 'Poppins';
  text-align: left;
}

.menu{
padding: 2px;
font-family: 'Lunasima';
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(99, 95, 95, 0.315);
  background-color:#ffd966;
  cursor:default;
}

.section-1-first-div img{
  height: 4rem;
  width: 4rem;
  margin-left: 2%;
}

.section-1-second-div {
  border-radius: 20px;
  background-color: #D9E1FC54;
  height: fit-content;
  flex: 1;
}

.section-1-second-div ul,li,a{
  text-decoration: none;
  list-style-type: none;
 
}


.section-1-second-div ul{
text-align: left;
padding: 0px 7%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
flex: 1;
}



.section-1-second-div a{
color: #0e207a;
}


.section-1-second-div li,a{
line-height: 1.1rem;
padding: 3%;
font-size: 1.2rem;
font-family: 'Inter';
font-weight: 400;
overflow: hidden;
}

.section-1-second-div li a i{
margin-right: 4%;
font-size:15px;
font-weight: 600;
}


#id{
border: 1px solid #fdba00;  border-radius: 20px;
padding: 7px 5% 7px 7%;
color: #ffbb00;
display: flex;
justify-content: flex-start;
align-items: center;
flex: 1;
}

#id i{
margin-right: 4%;
font-size:15px;
font-weight: 600;
}


.com{
font-family: 'Lunasima';
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(99, 95, 95, 0.315);
  background-color:#ffd966;
  cursor:default;
}


.section-1-third-div {
border-radius: 20px;
background-color: #D9E1FC54;
height: fit-content;
flex: 1;
}

.section-1-third-div ul,li{
  text-decoration: none;
  list-style-type: none;
}

.section-1-third-div ul{
padding-left: 20px;
text-align: left;
}

.section-1-third-div li{
line-height: 1.2em;
padding: 7px;
text-align: left;
color: #0e207a;
font-family: 'Inter';
}

.section-1-third-div li i{
margin-right: 4%;
font-size: 18px;
}


.section-1-third-div input{
border: none;
  border-radius: 20px;
  width: 70%;
  border: 2px solid #ffd966;
  padding: 5px 3% 0 3%;
  font-family: 'Inter';
  background-color: #F3F5FE;
  font-family: 500;
}







.section-2-subsection-first-div .head{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  position: relative;
 
}

.section-2-subsection-first-div .head span{
  position: absolute;
  top: 50%; /* Center vertically */
      left: 10px; /* Position on the right side */
      transform: translateY(-50%); /* Center the icon perfectly */
      color: #ccc; /* Default icon color */
      pointer-events: none; /* Make the icon unclickable */
      font-size: 15px; 
      color: #0E207A;
}

#section-2 input{
  outline: none;
    border-radius: 20px;
    border: 2px solid #ffd966;
    padding: 5px 4%;
    width: 70%;
    background-color: #F3F5FE;
    font-family: 'Inter';
    color: #0E207A;
    height: 30px;
}

input:focus{
  outline: none;
    border-radius: 20px;
    padding: 5px 4%;
    border: 2px solid #ffd966;
    width: 70%;
    background-color: #F3F5FE;
    font-family: 'Inter';
}

#section-2 input:not(:focus){
  background-color: #F3F5FE;
  padding: 5px 4%;
}



#section-2{
    background-color: #D9E1FC54;
    height: 100Vh;
    width: 83.5%;
    padding: 10px 30px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

#section-2::-webkit-scrollbar{
  width: 12px;
  height: 12px;
}

#section-2::-webkit-scrollbar-track{
  border-radius: 10px;
}

.section-2-subsection-first-div{
    width: 100%;
}



.head h4{
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;

}

.send{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
}

.Feedback{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #3C4B95;
  font-family: 'Roboto Serif';
  width: fit-content;
  height: 25px;
  border-radius: 20px;
  padding: 7px 10px;
  font-weight: 500;
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.308);
  
}

h3.Feedback{
  margin: 0;
}
  

  #level100{
    background-color: #ffd966;
    color: white;
  }
  
  #level200{
    background-color: white;
    color: black;
  }
  
  
  #level300{
    background-color: white;
    color: black;
  }
  
  #level400{
    background-color: white;
    color: black;
  }
.section-2-subsection-second-div{
    margin-top: 30px;
    margin-left: 15px;
}

.section-2-subsection-2sections{
    display: flex;
    height: 7em;
    border-radius: 15px;
}

.section-2-subsection-2sections div{
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.308);
}


.section-2-subsection-2sections .img{
        border-radius: 8px;
        width: 60%;
        height: 100%;
        flex-shrink: 2;
        
}

.section-2-subsection-2sections .img img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
 }
 

.section-2-subsection-2sections .text{
    border-radius: 0px 8px 8px 0px;
    margin: 2px;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.section-2-subsection-2sections .text div{
  box-shadow: none;
}

.section-2-subsection-2sections .text div h2{
  margin-bottom: 0;
}

.section-2-subsection-2sections .text div:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
}


.section-2-subsection-2sections .text div:nth-child(2){
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.section-2-subsection-2sections .text div:nth-child(2) h4{
  width: fit-content;
  background-color: #ffd966;
  border-radius: 20px;
  padding: 5px 7px;
}


.section-2-subsection-second-div #levels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    cursor: default;
    width: 60%;
}

.section-2-subsection-second-div #levels div{
    width: fit-content;
    font-size: 16px;
    border-radius: 15px;
    padding: 7px 15px;
    font-family: 'Inter';
}

#section-2-subsection-level100-div{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 100%;
}


#section-2-subsection-level200-div,#section-2-subsection-level300-div,#section-2-subsection-level400-div{
    display: none;
    margin-top: 30px;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 100%;
}

.section-2-subsection-second-div h1{
  font-size: 30px;
  line-height: 23.42px;
  font-family: sans-serif;
  color: #0E207ACC;
  margin: 0em 0em 1em 0em;
}


header{
  position: fixed;
  z-index: 2;
}

#codes{
  display: block;
  font-size: 45px;
  font-family: bold;
  text-decoration: none;
}

nav{
  height: 4em;
  width: 100%;
  top: 0;
  background-color: white;
  color: black;
  border-bottom: 3px solid rgb(170, 167, 167);
  position: fixed;
  z-index: 1;
}

nav ul li{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  list-style-type: none;
  margin: 1.3em 5% 1.3em 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 520;
  padding-left: 0;
}

#code{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: auto;
  font-weight: 700;
  font-size: 22.01px;
  line-height: 28.17px;
  font-family: 'Kode Mono';
  text-decoration: none;
  cursor:pointer;

}

#persona{
  font-size: 25px;
  margin-right: 5px;
}

.code{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 30%;
  font-weight: 700;
  font-size: 22.01px;
  line-height: 28.17px;
  font-family: 'Kode Mono';
}

.code h2{
  margin: 10px 0px 0px 5px;
}
#code[type='text']{
  margin-top: -15px;
}

#code img{
  width: 58.52px;
  height: 40.84px;
  margin-top: -12.25px;
  margin-right: 5px;
}

nav ul li{
  cursor: default;
}

nav ul li:hover{
  text-decoration: underline;
}
nav ul li a{color: inherit;text-decoration: none;}

nav ul li:active{
  text-decoration: underline;
}

@media only screen and (max-width: 575px) {
  #section-1{
    display: none;
  }
  #section-3{
    display: none;
  }
  #section-2{
    width: 100%;
    margin-top: 4em;
    padding: 10px 20px;
  }
  .wrappers .carousel{
    grid-auto-columns: calc((100%/1));
  }
  .wrapper .carousel{
    grid-auto-columns: calc((100%/1));
  }
  ul.carousel{
    padding-left: 0;
  }
    
  #section-2-subsection-level200-div,#section-2-subsection-level300-div,#section-2-subsection-level400-div{
    display: none;
    margin-top: 30px;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    width: 100%;
}
#section-2-subsection-level100-div{
  grid-template-columns: repeat(1,1fr);
}

#Courses{
  grid-template-columns: repeat(1,1fr);
}


.section-2-subsection-second-div #levels{
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}
.Feedback{
  font-size: 16px;
}

}



@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* Styles for devices between 576px and 767px */
  .section-2-subsection-second-div #levels{
    gap: 10px;
    width: 80%;
    flex-wrap: wrap;
  }
  .Feedback{
    font-size: 16px;
  }
  #section-1{
    display: none;
  }
  #section-3{
    display: none;
  }
  #section-2{
    width: 100%;
    margin-top: 4em;
    padding: 10px 20px;
  }
  .wrappers .carousel{
    grid-auto-columns: calc((100%/2));
  }
  .wrapper .carousel{
    grid-auto-columns: calc((100%/2));
  }
  ul.carousel{
    padding-left: 0;
  }
 
  
  #section-2-subsection-level200-div,#section-2-subsection-level300-div,#section-2-subsection-level400-div{
    display: none;
    margin-top: 30px;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    width: 100%;
}
#section-2-subsection-level100-div{
  grid-template-columns: repeat(1,1fr);
}


#Courses{
  grid-template-columns: repeat(1,1fr);
}

#levels{
  margin-top: 20px;
}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for devices between 768px and 991px */
  #section-1{
    display: none;
  }
  #section-3{
    display: none;
  }
  #section-2{
    width: 100%;
    margin-top: 4em;
    padding: 10px 20px;
  }
  .wrappers .carousel{
    grid-auto-columns: calc((100%/2));
  }
  .wrapper .carousel{
    grid-auto-columns: calc((100%/2));
  }
  ul.carousel{
    padding-left: 0;
  }
  
  #section-2-subsection-level200-div,#section-2-subsection-level300-div,#section-2-subsection-level400-div{
    display: none;
    margin-top: 30px;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 100%;
}
#section-2-subsection-level100-div{
  grid-template-columns: repeat(2,1fr);
}
#levels{
  flex-wrap: wrap;
  gap: 5px;
  column-gap: 2px;
}

}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Styles for devices between 992px and 1199px */
 
  header{
    display: none;
  }
#section-3{
  display: none;
}
.wrappers .carousel{
  grid-auto-columns: calc((100%/2.2));
}
.wrapper .carousel{
  grid-auto-columns: calc((100%/2.2));
}
ul.carousel{
  padding-left: 0;
}
div.text-section{
display: flex;
justify-content: flex-end;
align-items: center;
}
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  /* Styles for tablets in landscape */
  header{
    display: none;
  }
  div.text-section{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding-right: 8px;
    }
}


/* Custom Breakpoint for Large Monitors (min-width: 1600px) */
@media only screen and (min-width: 1280px) {
  /* Styles for large monitors */
  header{
    display: none;
  }
}